.active-category{
  border-bottom: 4px solid var(--primary-color);
}

.border{
  border: 1px solid black;
}

.w-30{
  width: 30%
}

.m-xl-top{
  margin-top: 6rem;
}

.hide{
  display: none;
}

.no-background{
  background: none;
}

.no-shadow{
  box-shadow: none;
}